@font-face {
  font-family: 'Creepster-Regular';
  src: url('Creepster-Regular.ttf');
}

body {

  background-color: #212121;
}

.game-wrapper {
  width: 1250px;
  height: 1200px;
  background-color: #212121;
  margin: 0 auto;

}

.scoreboard {
  width: 800px;
  height: 100px;
  background-color: #212121;
  margin: 0 auto;
  color: #54C571;
}



.board {
  width: 650px;
  height: 650px;
  background-color: #212121;
  margin: 0 auto;
  padding-bottom: 0;

}

footer {
  width: 800px;
  height: 100px;
  background-color: #4c5128;
  margin: 0 auto;
  border-radius: 20px;
  font-family: 'Creepster-Regular';
  font-style: 19px;


}

.boardPiece{

  width: 200px;
  height: 200px;
  background-color: #54C571;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 20px;
  position: relative;
  left: 5px;

}

p {
  font-family: 'Creepster-Regular';
  display: inline-block;
  font-size: 32px;
  color: #8b978b;
}

.player-score,
.player-ties,
.computer-score {

  display: inline-block;
  background-color: #212121;
  width: 140px;
  margin-left: 87px;
  height: 100px;

}

h1 {
  font-family: 'Creepster-Regular';
  font-size: 60px;
  color: #54C571;
  text-align: center;
  margin: 0;
}

img {

  margin-left: auto;
  	margin-right: auto;
  	display: block;
    width: 150px;
    height: 150px;
}

#player-score,
#player-ties,
#computer-score {
font-family: 'Creepster-Regular';
color: white;
font-size: 32px;

}

span {
  font-family: 'Creepster-Regular';
  color: white;
  font-size: 32px;
  text-align: center;
  margin-left: 10px;
}
.win-p2-messages,
.win-p1-messages,
.tie-messages {
  width: 400px;
  height: 350px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  font-family: 'Creepster-Regular';
  font-size: 32px;
  text-align: center;
}

#explode,
#explode1,
#ties {

    margin: 0 auto;
    width: 334px;
    height: 300px;
    z-index: -1;

}

.github,
.linkedin{
  width: 48px;
  height: 48px;
  display: block;
}

li {
float:right;
display:inline;
margin-left: 15px;
margin-top: 15px;
list-style:none;
}
